<div class="container">
  <h1><a href='/'>Phlickr</a></h1>
  <% if session[:username] %>
    Welcome! <b><%= session[:username].capitalize %></b>
    <p><a href='/logout'>Logout</a></p>
    <p><a href='/upload'>Upload</a></p>
    <%else%>
  <p><a href='/login'>Login/Sign up</a></p>
  <%end%>
</div>

<div class='photo'>
  <p> photos from <b><%= @photos.first.album.name %></b></p>
    <%@photos.each do |p|%>
      <p><img id='size_photo' src = <%= p.imagefile%>></p>
      <a href='/album/<%= p.album.id %>'><%= p.album.name %></a> |
      <a href='/users/<%= p.album.user.id%>/albums'><%= p.album.user.username %></a>
    <%end%>
</div>